---
title: "About"
author: "Daniel Quiroz"
image: "/img/danielquiroz.jpg"
date: 2020-04-04
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p><img src="/img/danielquiroz.jpg" alt="This is me" width="35%"/></p>
<p>I am a BSc. Biotechnology graduated from the
<a href="https://.ikiam.edu.ec">Ikiam University</a>
(Universidad Regional Amazónica Ikiam), and currently enrolled in
the <a href="https://phytochemicals.osu.edu">Jessica Cooperstone Lab</a> at OSU
as a visiting scholar.</p>
<p>My field of interest is data analysis applied to life sciences.
Since 2016, I have participated in several research projects, performing tasks
in spatial, bioinformatics, and metabolomics analysis. After taken analytical
chemistry course in 2017, I focused on chemometrics, performing UV-Vis and
HPLC-DAD analysis in some research projects.</p>
<p>My currently activities at OSU includes data analysis for
plant untargeted metabolomics using LC-MS and 1H-NRM.</p>
<p>More recently, for my graduation thesis, I developed a free software for
GCxGC-MS untargeted data analysis in R, the
<a href="https://cran.r-project.org/web/packages/RGCxGC/index.html">RGCxGC</a> package.
The upcoming work for this toolbox includes to implement peak picking algorithm
and peak table processing approach for GCxGC data.</p>
<p><img src="/img/resume.png" align="center"/></p>
<p><font color="e96060">If you are interested in my work throug the time,
you can download my CV and resume at the bottom of this page </font></p>
