---
title: "Papers"
author: "Daniel Quiroz"
image: "/img/danielquiroz.jpg"
date: 2020-04-04
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<style>
body {text-align: justify}
</style>
<div id="rgcxgc-toolbox-an-r-package-for-data-processing-in-comprehensive-two-dimensional-gas-chromatography-mass-spectrometry" class="section level2">
<h2><a href="https://www.sciencedirect.com/science/article/pii/S0026265X20304914">RGCxGC toolbox: an R-package for data processing in comprehensive two-dimensional gas chromatography-mass spectrometry</a></h2>
<p><a href="https://www.scimagojr.com/journalsearch.php?q=20922&amp;tip=sid&amp;exact=no"
   title="SCImago Journal &amp; Country Rank">
<img border="0" src="https://www.scimagojr.com/journal_img.php?id=20922" hspace="30px"
   alt="SCImago Journal &amp; Country Rank"  align="left" width="150px"
   height="75px"  />
</a></p>
<p>Cristian Quiroz-Moreno, Mayra Fontes Furlan, João Raul Belinato de Souza,
Fabio Augusto, Guilherme L Alexandrino, Noroska GS Mogollón</p>
<p>Comprehensive two-dimensional gas chromatography (GC × GC) offers detailed
chemical information about volatile and semivolatile analytes from complex
samples. However, the high complexity of the data structure encourages the
development of new tools for a more efficient data handling and analysis.
Although some tools have already been presented to overcome this challenge,
there is still need for improvement. In this manuscript, we present a toolbox
containing a pipeline for end-to-end basic GC × GC data processing which can
be used for both, signal pre-processing and multivariate data analysis.
The pre-processing algorithms perform signal smoothing, baseline correction,
and peak alignment, while the multivariate analysis is done
through Multiway Principal Component Analysis (MPCA). The software is capable
to prepare the chromatographic data for further applications with other
chemometric …</p>
</div>
<div id="new-advances-in-toxicological-forensic-analysis-using-mass-spectrometry-techniques" class="section level2">
<h2><a href="https://www.hindawi.com/journals/jamc/2018/4142527/abs/">New advances in toxicological forensic analysis using mass spectrometry techniques</a></h2>
<p><a href="https://www.scimagojr.com/journalsearch.php?q=21100204120&amp;tip=sid&amp;exact=no"
   title="SCImago Journal &amp; Country Rank">
<img border="2" src="https://www.scimagojr.com/journal_img.php?id=21100204120"
     alt="SCImago Journal &amp; Country Rank" align="left" hspace="40" width="150px"
     height="75px" />
</a></p>
<p>Noroska Gabriela Salazar Mogollon, Cristian Daniel Quiroz-Moreno,
Paloma Santana Prata, Jose Rafael de Almeida, Amanda Sofía Cevallos,
Roldán Torres-Guiérrez, Fabio Augusto</p>
<p>This article reviews mass spectrometry methods in forensic toxicology for the
identification and quantification of drugs of abuse in biological fluids,
tissues, and synthetic samples, focusing on the methodologies most commonly
used; it also discusses new methodologies in screening and target forensic
analyses, as well as the evolution of instrumentation in mass spectrometry.</p>
</div>
