---
title: "Papers"
author: "Daniel Quiroz"
image: "/img/danielquiroz.jpg"
date: 2020-04-04
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<style>
body {text-align: justify}
</style>
<div id="rgcxgc-toolbox-an-r-package-for-data-processing-in-comprehensive-two-dimensional-gas-chromatography-mass-spectrometry" class="section level2">
<h2><a href="https://www.sciencedirect.com/science/article/pii/S0026265X20304914">RGCxGC toolbox: an R-package for data processing in comprehensive two-dimensional gas chromatography-mass spectrometry</a></h2>
<p>Comprehensive two-dimensional gas chromatography (GC × GC) offers detailed
chemical information about volatile and semivolatile analytes from complex
samples. However, the high complexity of the data structure encourages the
development of new tools for a more efficient data handling and analysis.
Although some tools have already been presented to overcome …</p>
<ul style="list-style-type:disc;">
<li>
<i> <b>Quiroz-Moreno, C.</b>, Furlan, M. F., Belinato, J. R., Augusto, F.,
Alexandrino, G. L., &amp; Mogollón, N. G. (2020). RGCxGC toolbox:<br />
An R-package for data processing in comprehensive two-dimensional gas
chromatography-mass spectrometry. Microchemical Journal, 156, 104830.
<a href="https://doi.org/10.1016/j.microc.2020.104830" class="uri">https://doi.org/10.1016/j.microc.2020.104830</a>. </i>
</li>
</ul>
</div>
<div id="new-advances-in-toxicological-forensic-analysis-using-mass-spectrometry-techniques" class="section level2">
<h2><a href="https://www.hindawi.com/journals/jamc/2018/4142527/abs/">New advances in toxicological forensic analysis using mass spectrometry techniques</a></h2>
<p>This article reviews mass spectrometry methods in forensic toxicology for the
identification and quantification of drugs of abuse in biological fluids,
tissues, and synthetic samples, focusing on the methodologies most commonly
used; it also discusses new methodologies in screening and target forensic
analyses, as well as the evolution of instrumentation in mass spectrometry.</p>
<ul>
<li><em>Mogollón, N. G., <strong>Quiroz-Moreno, C. D.</strong>, Prata, P. S., De Almeida, J. R.,
Cevallos, A. S., Torres-Guiérrez, R., &amp; Augusto, F. (2018).
New advances in toxicological forensic analysis using mass spectrometry
techniques. Journal of Analytical Methods in Chemistry, 2018, 1-17.
<a href="https://doi.org/10.1155/2018/4142527" class="uri">https://doi.org/10.1155/2018/4142527</a></em></li>
</ul>
</div>
